@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: darkgrey;
  padding: 0;
  background-attachment: fixed;
}

#navbar {
  position: sticky;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2.5%;
}

.navFlex {
  display: flex;
  flex-direction: row;
}

.navlinks {
  margin-right: 7%;
}

/* .anchorSpace {
  height: 15%;
} */

#pageFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.widthFiller {
  padding-left: 30%;
}

.fullPage {
  height: 100vh;
}

.diamondsNav {
  position: fixed;
  left: 40px;
  z-index: 10;
  top: 50%;
  margin-top: -80px;
}

ul {
  list-style: none;
}

li {
  padding: 4px 0px;
}

a {
  color: #43464B;
}

a:hover {
  color:#43464B;
  opacity: 60%;
  text-decoration: none;
}

.isCurrent {
  font-weight: bold;
}

.isCurrent a, h2 {
  color: #f1a07a;
}

.anchorSpace {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

#mid {
  padding-left: 300px;
}