@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap');

/* Global */
:root {
  --grey: #43464B;
  --orange: #f1a07a;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  background-attachment: fixed;
}

/* Navs */
#topNav {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2.5%;
}

.navlinks {
  margin-right: 8%;
}

#logo {
  font-weight: bold;
}

.diamondsNav {
  position: fixed;
  left: 40px;
  z-index: 10;
  top: 50%;
  margin-top: -80px;
}

/* Landing Page */
#landingFullPage {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#centreFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#image {
  height: 400px;
  width: 400px;
}

#nameAndRole {
  margin-left: 20px;
}

#role {
  color: var(--orange);
  padding-left: 5px;
}

/* Sections */
.fullPageFlex { height: 100vh; }

.fullPageFlex, #footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 8.5%;
}

/* Elements */
ul { list-style: none; }

li { padding: 4px 0px; }

a {
  color: var(--grey);
  transition: color .2s ease;
}

a:hover {
  opacity: 60%;
  text-decoration: none;
  color: var(--orange);
}

.isCurrent a, h2 { color: var(--orange); }

h1 { 
  font-size: 400%;
  color: var(--grey);
}

/* Skills */
#morePadding { margin-top: 1.6%; }

.centreP {
  text-align: center;
  width: 80%;
  margin-top: 1%;
}